<app-header></app-header>
<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne" id="consultaMoneda">
        Consulta monedas
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        <app-metodos></app-metodos>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Collapsible Group Item #2
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Lorem ipsum..
      </div>
    </div>
  </div>

</div>


<!-- <ul class="section-nav" >
  <li class="toc-entry">Metodos
    <ul>
      <li class="toc-entry">
        <a href="#consultaMoneda" style="text-decoration: none; color: black;">Consulta moneda</a>
      </li>
      <li class="toc-entry">
        <a href="#consultaCliente"></a>
      </li>
    </ul>
  </li>
</ul> -->

